# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/
backend/archivos/documentos/*
backend/archivos/documentos/archivo.pdf
backend/cookies.txt
backend/login.json

# Variables de entorno
.env
backend/.env
frontend/.env

# Build
dist/
frontend/dist/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db